<h1>Fancy that, this is your board!</h1>
<br>
Board Title: <%= @board.title %>
<br>
<%= button_to "Delete Board!", board_url(@board), method: 'delete' %>
<br><br>
LISTS!
<br><br>
<% @board.lists.each do |list| %>
  <%= link_to list.title, list_url(list.id) %>
  <br>
<% end %>

<br>
<%= link_to "New list for this board!", new_board_list_url(@board) %>
<br>
<%= link_to "All boards!", boards_url %>